.container {
    width: 700px;
    background-color: #B0C4DE;
    margin: auto;
    padding: 15px;
    font-size: 25px;
    border: 2px solid black;
}

h5 {
    display: block;
    margin-top: -10px;
}